<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/d/df/Border%E2%80%93Gavaskar_Trophy.jpg">
<style>
  img {
    border: 5px solid#04AA6D;}
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>JANASENA'S CONTRIBUTION</strong></h1>
<h3 align="center" style="color:white"><i><q><b>NO ONE HAS EVER BECOME POOR BY GIVING</b></q></i></h3><br>
<img src="https://assets.thehansindia.com/h-upload/2022/11/05/1319205-pawan-kalyan.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>A quaint village, with a population of 4,120 and a house count of 1,277, Ippatam in Tadepalle mandal of Guntur district </i></h2>
<h2 align="center" style="color:white"><i>Ipatamis turning into a hotspot of politics after a public outcry over the demolition of houses on Friday to widen roads.</i></h2>
<h2 align="center" style="color:white"><i>Farmers at Ippatam said the government intentionally targeted them after they allowed janesana to host its formation day. </i></h2>
<h2 align="center" style="color:white"><i>Jana Sena leaders claimed a political conspiracy, alleging that the government was targeting its supporters</i></h2>
<h2 align="center" style="color:white"><i> Pawan Kalyan fulfil his promise to donate Rs 50 lakh for the development of the village.</i></h2>
<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://timesofindia.indiatimes.com/city/vijayawada/ap-pawan-kalyan-visits-ippatam-village-targets-govt-over-demolitions/articleshow/95328418.cms"><b>CLICK HERE</b> </a>

</body>
</html>
