<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAdF5ddxOEZ0FpOyHpIKyAhSr0D6lJEYB2cRfmbg9TiQ&usqp=CAU&ec=48600112">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>JANASENA FORMATION DAY</strong></h1>
<h3 align="center" style="color:white"><i><q><b>LEADERSHIP IS NOT ABOUT NEXT ELECTION,IT'S ABOUT NEXT GENERATION</b></q></i></h3><br>
<img src="https://data1.ibtimes.co.in/en/full/683165/janasena-party-formation-day-photo.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>Jana Sena Party (JSP) (People's Army Party) is an Indian Regional political party based in Andhra Pradesh and Telangana.</i></h2>
<h2 align="center" style="color:white"><i>It was founded by Tollywood actor and politician Pawan Kalyan on 14 March 2014.Jana Sena means "People's Army" in Telugu.</i></h2>

<h2 align="center" style="color:white"><i>The motto is to "fight for the rights of each and every common person".It follows 7 basic ideals promoted as Ideals of JanaSena </i></h2>

<h2 align="center" style="color:white"><i>The party declared war on unemployment and corruption, and wished to ensure the safety of women in the country.</i></h2>

<h2 align="center" style="color:white"><i> Pawan Kalyan is the first leader who opposed BJP lead central government for not granting Special Category Status to Andhra Pradesh.</i></h2>

<h2 align="center" style="color:white"><i>He led a protest march to commemorate farmers who committed suicide or migrated from the drought-prone regions of Rayalaseema.</i></h2>

<h2 align="center" style="color:white"><i>The prime objective of Jana Sena Party has been to ensure equal power to all social groups of people.</i></h2>


<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.janasenaparty.org/"><b>CLICK HERE</b> </a>

</body>
</html>