<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://media.istockphoto.com/id/590614928/vector/cricket-ball.jpg?s=612x612&w=0&k=20&c=FPCcYPfNJUDfld8fiXdYrD4rh1Q-fukKNbHO9sBM5_A=">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>KOHLI'S INSIGHT ABOUT DHONI</strong></h1>
<h3 align="center" style="color:white"><i><q><b>FACE THE FAILURE UNTIL THE FAILURE FAILS TO FACE YOU..</b></q></i></h3><br>
<img src="https://sportscafe.in/img/es3-cfill-s100/articles/Cricket_1/MSD_Virat_Kohli_getty.jpg" alt="Paris" width="800"height="500">
<h2 align="center" style="color:white"><i>Kohli shared some insights into the working points of his kinship with Dhoni.</i></h2>
<h2 align="center" style="color:white"><i> Kohli has played 106 Tests, 271 ODIs and 115 T20Is for India in a career spanning 15 years</i></h2>

<h2 align="center" style="color:white"><i>Despite all his efforts, he could not manage to win an ICC trophy as captain .</i></h2>


<h2 align="center" style="color:white"><i>Kohli said Dhoni was the only one who 'reached out' to him during those tough times.</i></h2>

<h2 align="center" style="color:white"><i>while reaching out to me was that: ‘when you are expected to be strong and</i></h2>


<h2 align="center" style="color:white"><i>looked at as a strong individual people forget to ask how are you doing?</i></h2>
<h2 align="center" style="color:white"><i>Kohli offered the reason for Dhoni reaching out to him while stressing on </i></h2>
<h2 align="center" style="color:white"><i> the point of them going through similar phases in life and career.  </i></h2>


<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.hindustantimes.com/cricket/if-i-call-ms-dhoni-99-percent-he-won-t-pick-up-virat-kohli-s-startling-revelation-on-how-msd-reached-out-to-him-101677296013900.html"><b>CLICK HERE</b></a>

</body>
</html>