<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://wallpapercave.com/wp/wp1855048.jpg">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>NBK 108</strong></h1>
<h3 align="center" style="color:white"><i><q><b>POWERFUL PEOPLE COME FROM POWERFUL PLACES</b></q></i></h3><br>
<img src="https://m.economictimes.com/thumb/msid-98911246,width-1200,height-900,resizemode-4,imgsize-105562/nandamuri-balakrishnas-nbk-108-first-look-poster-unveiled-check-out-here.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>The makers of NBK 108, a forthcoming film starring Nandamuri Balakrishna in the lead role</i></h2>
<h2 align="center" style="color:white"><i> released the first look poster on social media on Wednesday to mark the occasion of Ugadi.</i></h2>
<h2 align="center" style="color:white"><i> The next film, NBK 108, is directed by Anil Ravipudi and produced by Shine Screens'.</i><h2>
<h2 align="center" style="color:white"><i> The poster features Balakrishna in two different avatars, one in traditional attire with a salt-and-pepper look</i></h2>

<h2 align="center" style="color:white"><i>and the other in an aggressive look with a beard and handlebar moustache.</i></h2>

<h2 align="center" style="color:white"><i>Balakrishna adorned with holy threads on his neck and hand, along with a tattoo inked on his hand.</i></h2>
<h2 align="center" style="color:white"><i> The first look poster of NBK 108 has generated a buzz on social media, with fans eagerly waiting for the film's release</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://economictimes.indiatimes.com/news/new-updates/nandamuri-balakrishnas-nbk-108-first-look-poster-unveiled-check-out-here/articleshow/98911251.cms"><b>CLICK HERE</b> </a>

</body>
</html>