<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://wallpapercave.com/wp/wp1855048.jpg">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>PSPK NEW LOOK</strong></h1>
<h3 align="center" style="color:white"><i><q><b>TO LIVE GREATLY.YOU HAVE TO RISK GREATLY</b></q></i></h3><br>
<img src="https://assets.thehansindia.com/h-upload/2023/02/22/1337740-pawan-kalyan.webp" alt="Paris" width="800"height="500">
<h2 align="center" style="color:white"><i> The Telugu remake of Vinodhaya Sitham, starring Pawan Kalyan and Sai Dharam Tej, is set to start its shoot</i></h2>
<h2 align="center" style="color:white"><i>This will be Pawan Kalyan's first time sharing screen space with his nephew Sai Dharam Tej</i></h2>

<h2 align="center" style="color:white"><i>The film is directed by Samuthirakani, an actor-director who is remaking his Tamil film 'Vinodaya Sitham' in Telugu.</i></h2>


<h2 align="center" style="color:white"><i> Pawan Kalyan will reprise his role as Samuthirakani (God of Time) in the Telugu remake</i></h2>

<h2 align="center" style="color:white"><i>Tej will play a man who is involved in an accident and is given a second chance at life.</i></h2>


<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://economictimes.indiatimes.com/news/new-updates/pawan-kalyan-sai-dharam-tejs-vinodhaya-sitham-remake-goes-on-floors-today/articleshow/98156677.cms"><b>CLICK HERE</b> </a>

</body>
</html>