<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://wallpapercave.com/wp/wp1855048.jpg">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>PUSHPA2 THE RULE</strong></h1>
<h3 align="center" style="color:white"><i><q><b>STYLE IS NOT A SIZE IT IS AN ATTITUDE</b></q></i></h3><br>
<img src="https://m.economictimes.com/thumb/msid-95528664,width-1200,height-900,resizemode-4,imgsize-50524/the-shooting-schedule-for-pushpa-2-may-begin-in-december-.jpg" alt="Paris" width="800" height="500">
<h2 align="center" style="color:white"><i>Pushpa part 1 The Rise has proved to be one of the best movies that have appeared in recent years</i></h2>
<h2 align="center" style="color:white"><i> Despite the massive hype surrounding the movie, it recently had its OTT release.</i></h2>
<h2 align="center" style="color:white"><i> The second instalment of the movie will be in continuation of the first part.</i><h2>
<h2 align="center" style="color:white"><i> The Pushpa 2 is highly anticipated by fans and curiously waiting to know when it will be released</i></h2>

<h2 align="center" style="color:white"><i>The film is gearing up for release on December 17, as per a report by Pinkvilla</i></h2>

<h2 align="center" style="color:white"><i> The director of Pushpa 2 had earlier stated that the movie was originally planned to be a web series.</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://karnatakastateopenuniversity.in/pushpa-2-release-date.html"><b>CLICK HERE</b> </a>

</body>
</html>