<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvam9iNjgxLTAwNjAtbDFsZ2VlOXkuanBn.jpg?s=ecmQPbgGvt4CxyZG8jqXtDeljpoc-WFQ8dmc6JZ6AZk">
<style>
  img {
    border: 5px solid#04AA6D;}
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>RONALDO'S HATRICK</strong></h1>
<h3 align="center" style="color:white"><i><q><b>TALENT IS IMPORTANT BUT IT'S NOT THE KEY POINT</b></q></i></h3><br>
<img src="https://assets.khelnow.com/news/uploads/2022/04/CR7-lead-pic.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i> Christian Ronaldo is the most successful football player in the world.</i></h2>
<h2 align="center" style="color:white"><i> Ronaldo began his professional career with Sporting CP at age 17 in 2002.</i></h2>

<h2 align="center" style="color:white"><i>Ronaldo played his first professional match against Inter Milan on 14 August 2002.</i></h2>

<h2 align="center" style="color:white"><i>Cristiano Ronaldo has an incredible 62 hat-tricks in his illustrious career </i></h2>

<h2 align="center" style="color:white"><i> He scored all three of his team's goals in a 3-0 Saudi Pro League victory over Damac on February 25</i></h2>

<h2 align="center" style="color:white"><i>Ronaldo holds the record for the most hat-tricks in men's international football.</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.sportingnews.com/in/soccer/news/cristiano-ronaldo-hat-tricks-how-many-career-man-united-real-madrid-juventus-portugal/q1b1bv3wkhjezrzbwn4z0qxz"><b>CLICK HERE</b> </a>

</body>
</html>