<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://wallpapercave.com/wp/wp1855048.jpg">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>OSCAR'S 2023</strong></h1>
<h3 align="center" style="color:white"><i><q><b>YOUR FRIENDSHIP IS MORE IMPORTANT THAN THIS LIFE</b></q></i></h3><br>
<img src="https://pbs.twimg.com/media/FnPg_fRagAQs2sl.jpg:large" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>It took around 19 months for the superhit musical number Naatu Naatu which won a historic Oscar for Best Original Song</i></h2>
<h2 align="center" style="color:white"><i>A track from Telugu blockbuster RRR, Naatu Naatu was the first Indian film song to be nominated for an Oscar.</i></h2>

<h2 align="center" style="color:white"><i>Composed by MM Keeravani with lyrics penned by Chandrabose,already made historywhen it won the Golden Globe for best original song, </i></h2>


<h2 align="center" style="color:white"><i> Featuring superstars Ram Charan and Jr NTR in lead roles, RRR tells the fictional story of fight against the British</i></h2>

<h2 align="center" style="color:white"><i> Rajamouli says he envisioned Naatu Naatu as a "fight scene" in which two freedom fighters bring a British officer to his knees - through dance.</i></h2>

<h2 align="center" style="color:white"><i>The song culminates in a marathon dance-off as all the dancers kick up a storm, slowly collapsing one by one in exhaustion until only the heroes remain standing.</i></h2>


<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.bbc.com/news/world-asia-india-64899481"><b>CLICK HERE</b> </a>

</body>
</html>