<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://img.freepik.com/premium-vector/tennis-ball-vector-illustration_110233-658.jpg?w=200055">
<style>
body
{
 background-color:black}
img {
  border: 5px solid#04AA6D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>SANIA MIRZA RETIREMENT</strong></h1>
<h3 align="center" style="color:white"><i><q><b>A LIFE WITHOUT DREAMS IS NOT WORTH LIVING</b></q></i></h3><br>
<img src="https://assets.gqindia.com/photos/63d792d46efd77bf74eab13a/master/pass/Sania-Mirza.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i> Sania Mirza is an Indian former professional tennis player.</i></h2>
<h2 align="center" style="color:white"><i>she won six major titles – three in women's doubles and three in mixed doubles</i></h2>

<h2 align="center" style="color:white"><i>she was ranked by the Women's Tennis Association as the Indian No. 1 in singles.</i></h2>

<h2 align="center" style="color:white"><i>Sania Mirza has confirmed that she will retire from the sport after the WTA 1000 event in Dubai </i></h2>

<h2 align="center" style="color:white"><i> The Indian superstar said she doesn’t have the emotional capacity to push herself anymore</i></h2>

<h2 align="center" style="color:white"><i>Mirza will compete alongside Kazakhstan's Anna Danilina at the Australian Open.</i></h2>

<h2 align="center" style="color:white"><i> She will then bring the curtain down on her glittering career in Dubai</i></h2>


<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.indiatoday.in/sports/tennis/story/sania-mirza-confirms-retirement-plans-set-to-draw-curtain-on-career-after-wta-1000-event-in-dubai-2318475-2023-01-07"><b>CLICK HERE</b> </a>

</body>
</html>