<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/d/df/Border%E2%80%93Gavaskar_Trophy.jpg">
<style>
  img {
    border: 5px solid#04AA6D;}
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>TELUGU DESAM PARTY</strong></h1>
<h3 align="center" style="color:white"><i><q><b>'PEOPLE FIRST' IS OUR MANTRA</b></q></i></h3><br>
<img src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2023/03/16/232178-andhramlcelectionresultlive.jpg?itok=UuuuO_7F" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>The Telugu Desam Party is an Indian regional political party with great influence in the states of Andhra Pradesh and Telangana.</i></h2>

<h2 align="center" style="color:white"><i> It was founded by the former chief minister of Andhra Pradesh N. T. Rama Rao (N.T.R.) on 29 March 1982</i></h2>

<h2 align="center" style="color:white"><i>MLC stands for members of state legislative assembly having a tenure of six years and should be a citizen of India.</i></h2>

<h2 align="center" style="color:white"><i>One twelfth are elected by persons who are graduates of three years' standing residing in that state. </i></h2>

<h2 align="center" style="color:white"><i>Telugu Desam Party (TDP) nominees surged ahead of YSRCP candidates in MLC elections held in Andhra Pradesh</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://timesofindia.indiatimes.com/city/amaravati/andhra-pradesh-mlc-polls-tdp-surges-ahead-in-graduates-constituencies-seats/articleshow/98723737.cms?from=mdr"><b>CLICK HERE</b> </a>

</body>
</html>
