<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/d/df/Border%E2%80%93Gavaskar_Trophy.jpg">
<style>
  img {
    border: 5px solid#04AA6D;}
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong>BORDER-GAVASKAR TROPHY</strong></h1>
<h3 align="center" style="color:white"><i><q><b>HARDWORK BEATS TALENT WHEN TALENT DOESN'T WORKHARD</b></q></i></h3><br>
<img src="https://sportstiger-images.s3.ap-south-1.amazonaws.com/media/border-gavaskar-trophy-1674379225417-original.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>The Border–Gavaskar Trophy is a Test cricket series played between India and Australia.</i></h2>

<h2 align="center" style="color:white"><i> It is played via the International Cricket Council's future tours.</i></h2>

<h2 align="center" style="color:white"><i>Australia was the first country India toured soon after their Independence.</i></h2>

<h2 align="center" style="color:white"><i> Sachin Tendulkar has been the most successful batsman, scoring 3262 runs from 65 innings.</i></h2>

<h2 align="center" style="color:white"><i>As of February 2023, India retained the trophy after defeating Australia in the first two Tests of the 2023 series</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.espncricinfo.com/series/border-gavaskar-trophy-2022-23-1348638/squads"><b>CLICK HERE</b> </a>

</body>
</html>

