<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://png.pngtree.com/png-clipart/20221008/original/pngtree-t20-world-cup-logo-png-image_8666032.png">
<style>
  img {
    border: 5px solid#04AA6D;}
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h1 align="center" style="color:#04AA6D;"><strong> ICC WOMEN'S T20 WORLD CUP</strong></h1>
<h3 align="center" style="color:white"><i><q>YOU DONT PLAY FOR THE CROWD YOU PLAY FOR THE COUNTRY</b></q></i></h3><br>
<img src="https://images.indianexpress.com/2023/02/india-womens-cricket-2022.jpg" alt="Paris" style="width:50%;">
<h2 align="center" style="color:white"><i>The ICC Women's T20 World Cup is the biennial international championship for women's Twenty20 International cricket..</i></h2>

<h2 align="center" style="color:white"><i> The event is organised by the sport's governing body, the International Cricket Council (ICC)</i></h2>

<h2 align="center" style="color:white"><i>At each tournament, a set number of teams qualify automatically, with the remaining teams</i></h2>

<h2 align="center" style="color:white"><i>The qualified teams will be decided by the women t20 qualifier.</i></h2>

<h2 align="center" style="color:white"><i>  Australia, having won the tournament six times, are the most successful team.</i></h2>

<h2 align="center" style="color:white">FOR MORE INFO....<a href="https://www.t20worldcup.com/"><b>CLICK HERE</b> </a>

</body>
</html>

