<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body
{
 background-color:black}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
    <pre align="center" style="color:white">The Indian Premier League (IPL) is a men's T20 franchise cricket league in India.</pre>
    <pre align="center" style="color:white">It is annually contested by ten teams based in seven cities and three states.</pre>
    <pre align="center" style="color:white">The league was founded by the Board of Control for Cricket in India (BCCI) in 2007.</pre>
    <pre align="center" style="color:white">Brijesh Patel is the incumbent chairman of IPL</pre>
    <pre align="center" style="color:white">It is usually held annually in summer across India between March to May.</pre>
    <pre align="center" style="color:white">The most awaited T20 cricket tournament is only a month away.</pre>
    <pre align="center" style="color:white">Indian Premier League 2023 will commence on March 31.</pre>
    <pre align="center" style="color:white">The reigning champions, Chennai Super Kings and Gujarat Titans, will lock horns in the first match<</pre>
    <pre align="center" style="color:white">FOR MORE INFO....<a href="https://www.iplt20.com/"><b>CLICK HERE</b> </a></pre>


